body{
    font-family: sans-serif;
    margin: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #333333;
    display: flex;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.navbar ul li a:hover {
    background-color: #111111;
}

.container{
    padding: 2rem;
}

footer{
    justify-content: center;
    text-align: center;
}